{% extends 'base.html.twig' %}


{% block title %}Creation offre{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}

<style>
    #div_form_offre{
        border: 1px solid black;
        width: 40%;
        padding: 1.5rem;
        margin: auto;
        margin-top: 1rem;
        border-radius: 0.5rem;
    }
    #form_offre {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    #ajout{
        color: green;
        font-size: 1.5rem;
        cursor: pointer;
    }
    .ajout{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }


</style>
<div id="div_form_offre">
    <form id="form_offre" action="{{ path('sauvegarder_app_offre') }}" method="post">
        <div class="form-group">
            <label for="titre">Titre de l'offre</label>
            <input type="text" name="id" hidden class="form-control" id="id" aria-describedby="id" placeholder="id" {{ variables['id'] is defined ? "value=" ~ variables.offre.getId()|e ~ " " }}>
            <input type="text" name="titre" class="form-control" id="titre" aria-describedby="titre" placeholder="Titre" {{ variables['id'] is defined ? "value=" ~ variables.offre.getTitre()|e ~ " " }}>
            <small id="titre" class="form-text text-muted">Intitulé de votre offre</small>
        </div>
        {{ variables['liste_missions']|raw }}
        {{ variables['liste_competences']|raw }}
        <div class="form-group">
            <label for="date_fin">Date de fin</label>
            <input type="date" name="date_fin" class="form-control" id="date_fin" placeholder="Date de fin">
            <small id="titre" class="form-text text-muted">Date de fin de votre annonce</small>
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <select class="form-control" id="type" name="type">
                {% for type in variables['types'] %}
                    <option value="{{ type.id }}" {{ variables['id'] is defined and type.id == variables.offre.getType() ? "selected" : ""}}>{{ type.nom }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="temps">Temps</label>
            <select class="form-control" id="temps" name="temps">
                <option value="1" {{ variables['id'] is defined and variables.offre.getTemps() == 1 ? "selected" : "" }}>Temps partiel</option>
                <option value="2" {{ variables['id'] is defined and variables.offre.getTemps() == 2 ? "selected" : "" }}>Temps plein</option>
            </select>
        </div>
        <div class="form-group">
            <label for="detail">Détails</label>
            <textarea class="form-control" id="detail" rows="3" name="detail"> {{ variables['id'] is defined ? variables.offre.getDetail()|e }}</textarea>
        </div>
        <div class="form-group">
            <label for="salaire_min">Salaire min</label>
            <input type="number" name="salaire_min" class="form-control" id="salaire_min" aria-describedby="titre" placeholder="Salaire min" {{ variables['id'] is defined ? "value=" ~ variables.offre.getSalaireMin()|e ~ " " }}>
        </div>
        <div class="form-group">
            <label for="salaire_max">Salaire max</label>
            <input type="number" name="salaire_max" class="form-control" id="salaire_max" aria-describedby="titre" placeholder="Salaire max" {{ variables['id'] is defined ? "value=" ~ variables.offre.getSalaireMax()|e ~ " " }}>
        </div>

        <button type="submit" class="btn btn-primary">Publier</button>
    </form>
</div>
<script>
    function ajout_mission() {
        // Sélectionner l'élément parent
        var offresDiv = document.getElementById("offres");

        // Créer le div conteneur
        var containerDiv = document.createElement("div");
        containerDiv.className = "form-group";

        // Créer l'input
        var input = document.createElement("input");
        input.type = "text";
        input.name = "missions[]";
        input.className = "form-control";
        input.id = "missions";
        input.placeholder = "Missions";

        // Ajouter le label et l'input au div conteneur
        containerDiv.appendChild(input);

        // Insérer le div conteneur après l'élément avec l'id "offres"
        offresDiv.parentNode.insertBefore(containerDiv, offresDiv.nextSibling);
    }
    function ajout_competence() {
        // Sélectionner l'élément parent
        var competencesDiv = document.getElementById("competences");

        // Créer le div conteneur
        var containerDiv = document.createElement("div");
        containerDiv.className = "form-group";

        // Créer l'input
        var input = document.createElement("input");
        input.type = "text";
        input.name = "competences[]";
        input.className = "form-control";
        input.id = "competences";
        input.placeholder = "Competences";

        // Ajouter le label et l'input au div conteneur
        containerDiv.appendChild(input);

        // Insérer le div conteneur après l'élément avec l'id "competences"
        competencesDiv.parentNode.insertBefore(containerDiv, competencesDiv.nextSibling);
    }
</script>
{% endblock %}
