{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

<div class="example-container">
<header class="head">
        <div class="navhead">
            <div>
               <a class="navbar-brand" href="{{path('app_home')}}">
                    <img class="logo"src="{{asset('image/logo.png')}}">
                </a>  
            </div>
            <div class="navItem">
                <div class="navItem2">
                    {# <div class="item2"><a href="{{path('app_login')}}"><button class="btnhead1 btn btn-light">se connecter</button></a></div> #}
                    <div class="item2"><a href=""><button class="btnhead1 btn btn-light">Se connecter</button></a></div>
                    {# <div class="item2"><a href="{{path('app_inscription')}}"><button class="btnhead2 btn btn-light">s'inscrire</button></a></div> #}
                    <div class="item2"><a href=""><button class="btnhead2 btn btn-light">S'inscrire</button></a></div>
                </div>
            </div>
        </div>
    </header>
  {# <h1> Inscription sur le site </h1>#}


  <div class="container">
    <div class="row">
      <div class="col-lg-1 col-xl-12 mx-auto">
        <div class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden">
          <div class="card-img-left d-none d-md-flex">
            <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body p-5 p-sm-5">
              <h4 class="card-title text-center mb-5 fw-light fs-2 fw-bold">Inscription recruteur</h4>
              {{form_start(form)}}
              {{ form_row(form.type,{'id':'type'}) }}
              {# {{ form_row(form.nom,{'label':'Nom ','attr':{'placeholder':'Nom '}})}}
              {{ form_row(form.prenom,{'label':'prenom','attr':{'placeholder':'prenom '}})}} #}
              {# {{ form_row(form.societe, {'label': 'societe' 'attr': {'placeholder': 'société'}}) }} #}
              {{form_row(form.societe,{'label':'societe', 'label_attr': {'style': 'display: none;','class': 'hide-label'},'attr':{'style': 'display: none;','placeholder':'société ','class': 'hide-input'}})}}
              {{ form_row(form.email,{'label':'Email','attr':{'placeholder':'Email'}})}}
              {{ form_row(form.password,{'label':'Mot de passe','attr':{'placeholder':'Mot de passe'}})}}
              {{ form_row(form.confirm_password,{'label':'Confirmation du mot de passe','attr':{'placeholder':'Confirme mot de passe'}})}}
            <div class="div_registerUser">
              <button type="submit" class="btn-register btn btn-success">S'inscrire</button>
            </div>
              {{ form_end(form) }} 
              <hr class="my-4">
              {# <a class="d-block text-center mt-2 small" href="{{path('app_loginRecruteur')}}">j'ai déjà un compte</a> #}
              <a class="d-block text-center mt-2 small" href="{{path('app_connexion_recruteur')}}">j'ai déjà un compte</a>
            </div>
             

              {# <div class="d-grid mb-2">
                <button class="btn btn-lg btn-google btn-login fw-bold text-uppercase" type="submit">
                  <i class="fab fa-google me-2"></i> Sign up with Google
                </button>
              </div>

              <div class="d-grid">
                <button class="btn btn-lg btn-facebook btn-login fw-bold text-uppercase" type="submit">
                  <i class="fab fa-facebook-f me-2"></i> Sign up with Facebook
                </button>
              </div> #}

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
