<style>
    #navbar{
        padding-left: 1rem;
        /* position: fixed;
        width: 100%;
        top: 0; */
    }
    .menu-recruteur {
        display: flex;
        flex-direction: row;
        gap: 55px;
        margin: 10px;
        margin-right: 55px;
    }
    #icon-menu-recruteur{
        margin: 12px;
    }
    .menu-navbar-recruteur{
        width: 100%;
        display: flex;
        justify-content: space-between;
       
    }
    .menu-navbar-recruteur h4{
        margin: 0px;
        margin-top: 4px;
        text-decoration: none;
        color: #e99b18;

    }.menu-navbar-recruteur a{
       text-decoration:none;

    }
    .sidebar{
        margin: 0;
        top: auto;
        background-color: darkslategrey;
        width: 15%;
    }
    .sidebar .menu-sidebar{
    color: white;
    }
    .sidebar .menu-sidebar:hover{
    color: #e99b18;
    }
</style>
{# <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{path('app_home_recruteur')}}">Recruteur (home) <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('offre')}}">Liste de vos offres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('creer_app_offre')}}">Ajouter une offre</a>
            </li>
        </ul>
    </div>
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{path('app_deconnexion')}}">Se deconnecter</a>
            </li>
        </ul>
    </div>
</nav> #}
<nav class="navbar navbar-expand-lg bg-dark" id="navbar" >
    <div class="text-light menu-navbar-recruteur">
        <div>
             <a href="{{path('app_home_recruteur')}}"><h4>Espace Recruteur</h4></a>
        </div>
        <div class="menu-recruteur">
            <div><i id="icon-menu-recruteur" class="fas fa-comment-alt"></i></div>
            <div><i id="icon-menu-recruteur" class="fas fa-bell"></i></div>
            <div>profil</div>
        </div>
    </div>
</nav>
<div class="sidebar">
    <a href="" class="menu-sidebar"><i class="fa fa-home"></i> Accueil</a>
    <a href="{{ path('creer_app_offre') }}" class="menu-sidebar"><i class="fa fa-light fa-file-circle-plus"></i> créer offres</a>
    <a href="" class="menu-sidebar"><i class="fa fa-list"></i> Liste offres</a>
</div>
